body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
}

.sidebar {
  width: 50%;
  overflow-y: auto;
  border-right: 2px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.main-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.gallery { 
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); 
  gap: 10px; 
}
.movie-item { 
  cursor: pointer;
  padding: 5px; 
  transition: background-color 0.3s; 
}
.movie-item:hover { 
  background-color: #f0f0f0; 
}
img { 
   width: 100%; 
   height: auto; 
   border-radius: 8px; 
}

video {
  width: 100%;
  height: auto;
  max-height: 90vh;
  border-radius: 10px;
}
