body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
}
.sidebar {
  width: 50%;
  min-width: 200px;
  max-width: 80%;  
  overflow-y: auto;
  border-right: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.main-content {
  flex-grow: 1;	
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: #ccc;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.gallery { 
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); 
  gap: 10px; 
}
.movie-item { 
  cursor: pointer;
  padding: 5px; 
  transition: background-color 0.3s; 
}
.movie-item:hover { 
  background-color: #f0f0f0; 
}
img { 
   width: 100%; 
   height: auto; 
   border-radius: 8px; 
}
video {
  width: 100%;
  height: auto;
  max-height: 90vh;
  border-radius: 10px;
}
